h2 {
	&:first-of-type {
		margin-top: 0;
	}
}
article {
	width: 100%;
	padding: 3rem;
	section {
		max-width: 700px;
		margin: auto;
	}
	.code,
	.oo-link {
		display: block;
		background: #1565C0;
		color: white;
		margin: 1rem 0;
		padding: 1.5rem;
		border-radius: 10px;
		font-family: monospace;
		line-height: 1.2rem;
		span {
			display: block;
		}
	}
	a {
		color: white;
	}
	&.info {
		background: #03A9F4;
	}
	&.danger {
		background: #FF5722;
		a {
			color: white;
		}
	}
}
oo-modal {
	[slot] {
		background: #FF5722;
		padding: 2rem;
	}
	[slot=header] {
		color: white;
		background: #E64A19;
		h2 {
			margin: auto;
		}
	}
	[slot=body] {
		color: #FFCCBC;
	}
}
