article {
	h2 {
		font-weight: 600;
	}
	&.danger {
		background: #FF5722;
		a {
			color: white;
		}
	}
}
oo-modal {
	[slot] {
		background: #FF5722;
		padding: 2rem;
	}
	[slot=header] {
		color: white;
		background: #E64A19;
		h2 {
			margin: auto;
		}
	}
	[slot=body] {
		color: #FFCCBC;
	}
}
