@import '../../style/mixin-code.scss';

article {
	h2 {
		font-weight: 600;
	}
	.code,
	.oo-link {
		@mixin code;
		span {
			display: block;
		}
	}
	a {
		color: white;
	}
	&.info {
		background: #03A9F4;
	}
	&.danger {
		background: #FF5722;
		a {
			color: white;
		}
	}
}
oo-modal {
	[slot] {
		background: #FF5722;
		padding: 2rem;
	}
	[slot=header] {
		color: white;
		background: #E64A19;
		h2 {
			margin: auto;
		}
	}
	[slot=body] {
		color: #FFCCBC;
	}
}
