@import '../../style/article.scss';

article {
	h1 {
		font-weight: bolder;
		font-size: 4rem;
		@media (min-width: 768px) {
			font-size: 5rem;
		}
		&::before {
			content: 'Start your';
			font-size: 1.6rem;
			display: block;
			transform: translateY(1rem);
		}
		&::after {
			content: 'Anything';
			font-size: 1rem;
			margin-left: 1rem;
		}
	}
	a {
		color: #2196f3;
	}
}

oo-footer {
	margin-top: 10rem;
}

#askMe {
	h1 {
		color: #673ab7;
	}
}

#offerMe {
	h1 {
		color: #e91e63;
	}
}
