.content {
	margin: 0 auto;
	width: 100%;
	max-width: 940px;
}
oo-ask {
	align-self: flex-end;
}
article {
	padding: 1rem;
	box-sizing: border-box;
	oo-profile {
		margin-bottom: 3rem;
	}
	&.content {
		max-width: 700px;
	}
}
aside {
	&.promote {
		width: 100%;
		background: #FFC107;
		text-align: center;
		padding: 0.5rem;
		a {
			color: white;
		}
	}
}
a {
	color: #3f51b5;
}
section {
	&#guide {
		margin: 1rem;
		padding: 2rem;
		border-radius: 10px;
		background-color: whitesmoke;
		color: gray;
		h2 {
			margin: 0;
			margin-bottom: 2rem;
			color: lightgrey;
		}
		h3 {
			&:not(:first-of-type) {
				margin-top: 2rem;
			}
			&::before {
				content: '💡';
				margin-right: 0.5rem;
			}
		}
		a {
			&.btn {
				display: inline-block;
				padding: 5px 12px;
				background: gray;
				color: white;
				text-decoration: none;
				border-radius: 60px;
			}
			&[data-inject-slug] {
				word-wrap: break-word;
			}
		}
	}
}
oo-modal {
	[slot] {
		padding: 1rem;
		@media (min-width: 768px) {
			padding: 2rem;
		}
	}
	[slot=header] {
		background: whitesmoke;
		h1,h2,h3 {
			margin: 0;
		}
	}
	&#delete {
		[slot] {
			background: #FF5722;
			padding: 2rem;
		}
		[slot=header] {
			color: white;
			background: #E64A19;
			h2 {
				margin: auto;
			}
		}
		[slot=body] {
			color: #FFCCBC;
		}
	}
}
.wait {
	display: none;
}
.tweet {
	> a {
		color: white;
		display: inline-block;
	}
}
