oo-ask {
	margin: auto;
	width: 100%;
	max-width: 940px;
	align-self: flex-end;
}
article {
	width: 100%;
	max-width: 700px;
	padding: 3rem;
	align-self: flex-end;
    padding: 1rem;
    box-sizing: border-box;
	@media (min-width: 768px) {
		padding: 3rem;
	}
	oo-profile {
		margin-bottom: 3rem;
	}
}
oo-modal {
	[slot] {
		padding: 1rem;
		@media (min-width: 768px) {
			padding: 2rem;
		}
	}
	[slot=header] {
		background: whitesmoke;
		h1,h2,h3 {
			margin: 0;
		}
	}
}
